<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ToDo</title>
</head>
<body>

{% block content %}
    {% if user.is_authenticated %}
        <h1>Here's your to do list.</h1>
        <ul>
            {% for todo_item in all_items %}
                <li>{{ todo_item.content }}
                    <form action="/deleteTodo/{{ todo_item.id }}/" style="display: inline;"
                          method="post">{% csrf_token %}
                        <input type="submit" value="Delete">
                    </form>
                </li>
            {% endfor %}
        </ul>

        <form action="/addTodo/" method="post">{% csrf_token %}
            <input type="text" name="content">
            <input type="submit" value="Add">
        </form>


        <form action="/clear/">{% csrf_token %}
            <input type="submit" value="Clear">
        </form>

        <p><a href="{% url 'logout' %}">logout</a></p>
    {% else %}
        <p>You are not logged in</p>
        <a href="/login/">login</a>
    {% endif %}
{% endblock %}
</body>
</html>